@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/* :root{
  color1: #F8F9FA;
  color2: #ffffff;
  color3: #F6F6F6;
  color4: #090A0A;
  color5: #909395;
}
.drak-mode{
  color1: #232331;
  color2: #161622;
  color3: #1F1F29;
  color4: #ffffff;
  color5: #E8EAEC;
} */
body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background: #f8f9fa;
}
.btn-burger-menu{
  color: #222;
  position: absolute;
  top: 16px;
  left: 22px;
  font-size: 20px;
  display: none;
  transition: all 0.5s ease;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 78px;
  background: #fff;
  padding: 6px 14px;
  transition: all 0.5s ease;
  /* z-index: 9; */
  overflow-y: auto;
  overflow-x: hidden;
  /* overflow-y: auto; */
  /* border-right: 1px solid #222; */
}
/* .nav_list{
  overflow-y: auto;
} */
.sidebar.active {
  width: 240px;
}
.sidebar .logo_content,
.logo_name {
  display: flex;
  height: 50px;
  width: 100%;
  /* opacity: 0; */
  pointer-events: auto;
}
.sidebar.active .logo_content,
.logo_name {
  opacity: 1;
  pointer-events: auto;
}
.logo_img {
  width: 50px;
  height: 50px;
  opacity: 0;
  transition: all 0.2s ease
}
.sidebar.active .logo_img {
  opacity: 1;
  transition: all 0.2s ease
}
.namaLogo {
  /* padding: 6px 10px; */
  margin-left: 12px;
  line-height: 24px;
  color: #222;
  opacity: 0;
  transition: all 0.3s ease
}
.sidebar.active .namaLogo {
  opacity: 1;
  transition: all 0.3s ease
}
.namaLogo h6 {
  font-weight: 600;
  line-height: 12px;
  
}
.sidebar #btn_menu {
  position: absolute;
  left: 50%;
  top: 6px;
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
}
.sidebar.active #btn_menu {
  left: 90%;
}
.sidebar ul {
  margin-top: 48px;
  /* z-index: 9; */
}
.sidebar ul li {
  position: relative;
  height: 50px;
  width: 100%;
  margin: 0 5px;
  list-style-type: none;
  line-height: 50px;
}

.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  margin: 0;
  /* font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.45;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  font-size: 0.875rem;
  word-wrap: break-word; */
  opacity: 0;
}

.sidebar li .tooltip {
  position: absolute;
  left: 122px;
  top: 0;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  height: 35px;
  width: 122px;
  background: #fff;
  line-height: 35px;
  text-align: center;
  transition: 0s;
  opacity: 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  pointer-events: none;
  display: block;
}
.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  /* transform: translateY(-50%); */
}
.sidebar.active li .tooltip {
  display: none;
}
.sidebar ul li input {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 12px;
  border: none;
  outline: none;
  /* background: rgb(246, 246, 246, 0.6); */
  background: rgba(228, 228, 228, 0.4);
  padding-left: 50px;
}
.bx {
  font-size: 20px;
}
.sidebar ul li .bx-search {
  position: absolute;
  z-index: 999;
  /* font-size: 22px; */
  transition: all 0.2s ease;
}
.sidebar ul li .bx-search:hover {
  background: #19bf5b;
  color: #fff;
  height: 50px;
}
/* .sidebar ul .bx-moon:hover{
    pointer-events: auto;
    background: #19BF5B;
    color: #fff;
    height: 50px;
    border-radius: 12px;
}*/

.sidebar.active ul .bx-moon {
  background: #fff;
}
.sidebar ul li a {
  color: #222;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  border-radius: 12px;
  white-space: nowrap;
}
.sidebar ul .berHover:hover {
  background: rgba(28, 172, 86, 0.4);
}
.berHover {
  border-radius: 12px;
  transition: all 0.4s ease-in-out;
}
.sidebar ul .aktifBtn{
  background: #19bf5b;
}

.sidebar ul .aktifBtn a{
  color: #fff;
}

.links_name {
  font-size: 16px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease;
}
.sidebar ul li i {
  height: 50%;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}
.sidebar.active .links_name {
  opacity: 1;
  pointer-events: auto;
  
}
/* .profile_content{
  position: fixed;
  margin-bottom: 0;
} */
.sidebar .profile_content {
  position: absolute;
  color: #222;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #19bf5b;
}
.sidebar .profile_content .profile {
  position: relative;
  padding: 10px 6px;
  height: 60px;
}
.profile_content .profile .profile_detail {
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
  transition: all 0.2s ease
}
.sidebar.active .profile .profile_detail {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.5s ease
}
.profile .profile_detail img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 12px;
}
.profile .profile_detail .profile_nama {
  margin-left: 10px;
  align-items: center;
}
.profile .profile_detail .nama {
  font-size: 16px;
  font-weight: 600;
}
.profile .profile_detail .status {
  font-size: 12px;
}
.profile #log_out {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  min-height: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 12px;
  text-align: center;
}
.sidebar.active .profile #log_out {
  left: 88%;
}

/* css toggle */
.toggle {
  position: absolute;
  left: 90%;
  top: 13px;
  font-size: 20px;
  height: 24px;
  width: 48px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
  opacity: 0;
  transition: all 0.2s ease;
}
.sidebar.active .toggle {
  opacity: 1;
}
input[type='checkbox'] {
  position: relative;
  -webkit-appearance: none;
  background: #e3e5e5;
  border-radius: 20px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}
input:checked[type='checkbox'] {
  background: #19bf5b;
  transition: 0.5s;
}
input[type='checkbox']::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 20px;
  top: 0;
  left: 0;
  background: #fff;
  transform: scale(1.1);
  transition: 0.5s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
input:checked[type='checkbox']::before {
  left: 26px;
}
/* css toggle */

.content {
  position: absolute;
  height: 100%;
  width: calc(100% - 78px);
  left: 78px;
  transition: all 0.5s ease;
}
.sidebar.active ~ .content {
  width: calc(100% - 240px);
  left: 240px;
}

.content .isi_content {
  /* margin-top: 22px; */
  margin-left: 12px;
  margin-right: 12px;
  /* width: 95%; */
  /* height: 100%; */
}

.isi_content{
  padding-top: 22px;
  height: 100%;
  overflow: auto;
}

/* sliderStrat */
.slider{
  width: 100%;
  overflow: hidden;
  /* border-radius: 10px; */
}
.slides{
  width: 500%;
  /* height: 500px; */
  display: flex;
}
.slides input{
  display: none;
}
.slide{
  width: 20%;
  transition: 2s;
}
.slide img{
  width: 100%;
  /* border-radius: 10px; */
  /* height: 500px; */
}

/*css for manual slide navigation*/

.navigation-manual{
  position: absolute;
  width: 100%;
  margin-top: 24%;
  display: flex;
  justify-content: center;
}
.manual-btn{
  border: 2px solid #f8f9fa;
  padding: 4px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.6s;
}
.manual-btn:not(:last-child){
  margin-right: 10px;
}
.manual-btn:hover{
  background: #f8f9fa;
}
#radio1:checked ~ .first{
  margin-left: 0;
}
#radio2:checked ~ .first{
  margin-left: -20%;
}
#radio3:checked ~ .first{
  margin-left: -40%;
}

.navigation-auto{
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 24%;
}
.navigation-auto div{
  border: 2px solid #f8f9fa;
  padding: 4px;
  border-radius: 10px;
  transition: 1s;
}
.navigation-auto div:not(:last-child){
  margin-right: 10px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #f8f9fa;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #f8f9fa;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #f8f9fa;
}
/* sliderEnd */

/* slideShowStart */
/* .slides img {
  height: 380px;
} */
/* .slide_show{
  width: 100%;
  position: relative;
}
.slides{
  width: 100%;
  display: none;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  margin-top: -10px;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.numberText {
  color: #f2f2f2;
  background: rgba(0, 0, 0, 0.2);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dotBtn{
  position: absolute;
  align-items: center;
  top: 85%;
  right: 50%;
}
.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.aktif, .dot:hover {
  background-color: #18bf5b;
  height: 10px;
  width: 10px;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
} */
/* .isi_content .slide_show .slide {
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 380px;
  border-radius: 12px;
} */
/* slideShowEnd */

/* list apps star */

.list_apps{
  margin-top: 25px;
  margin-bottom: 35px;
  width: 100%;
}
.title_content{
  font-size: 14px;
}
.applikasi{
  margin-top: 10px  ;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  align-content: space-between;
}
.apps{
  background: #fff;
  width: 240px;
  height: 280px;
  border-radius: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
}
/* list apps end */