@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background: #F8F9FA;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background: #fff;
    padding: 6px 14px;
    transition: all 0.5s ease;
    /* border-right: 1px solid #222; */
}
.sidebar.active{
    width: 280px;
}
.sidebar .logo_content, .logo_name{
    display: flex;
    height: 50px;
    width: 100%;
    /* opacity: 0; */
    pointer-events: auto;
}
.sidebar.active .logo_content, .logo_name{
    opacity: 1;
    pointer-events: auto;
}
.logo_img{
    width: 50px;
    height: 50px;
    opacity: 0;
}
.sidebar.active .logo_img{
    opacity: 1;
}
.namaLogo{
    /* padding: 6px 10px; */
    margin-left: 12px;
    line-height: 24px;
    color: #222;
    opacity: 0;
}
.sidebar.active .namaLogo{
    opacity: 1;
}
.namaLogo h6{
    font-weight: 600;
    line-height: 12px;
}
.sidebar #btn_menu{
    position: absolute;
    left: 50%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}
.sidebar.active #btn_menu{
    left: 90%;
}
.sidebar ul{
    margin-top: 48px;
}
.sidebar ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style-type: none;
    line-height: 50px;
}
.sidebar ul li .tooltip{
    position: absolute;
    left: 122px;
    top: 0;
    transform: translate(-50%,-50%);
    border-radius: 6px;
    height: 35px;
    width: 122px;
    background: #fff;
    line-height: 35px;
    text-align: center;
    transition: 0s;
    opacity: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: block;
}
.sidebar.active ul li .tooltip{
    display: none;

}
.sidebar ul li:hover .tooltip{
    transition: all 0.5s ease;
    opacity: 1;
    top: 50%;
}
.sidebar ul li input{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    border: none;
    outline: none;
    /* background: rgb(246, 246, 246, 0.6); */
    background: rgba(228, 228, 228, 0.6);
    padding-left: 50px;
}
.bx{
    font-size: 20px;
}
.sidebar ul li .bx-search{
    position: absolute;
    z-index: 99;
    /* font-size: 22px; */
    transition: all 0.2s ease;
}
.sidebar ul li .bx-search:hover{
    background: #19BF5B;
    color: #fff;
    height: 50px;
}
.sidebar ul li a{
    color: #222;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    border-radius: 12px;
    white-space: nowrap;
}
.sidebar ul .berHover:hover{
    background: rgba(28, 172, 86, 0.4);

}
.berHover{
    border-radius: 12px;
    transition: all 0.4s ease-in-out;
}
.links_name{
    font-size: 16px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s ease;
}
.sidebar ul li i{
    height: 50%;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}
.sidebar.active .links_name{
    opacity: 1;
    pointer-events: auto;
}
.sidebar .profile_content{
    position: absolute;
    color: #222;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #19BF5B;
}
.sidebar .profile_content .profile{
    position: relative;
    padding: 10px 6px;
    height: 60px;
}
.profile_content .profile .profile_detail{
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}
.sidebar.active .profile .profile_detail{
    opacity: 1;
    pointer-events: auto;
}
.profile .profile_detail img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
}
.profile .profile_detail .profile_nama{
    margin-left: 10px;
    align-items: center;
}
.profile .profile_detail .nama{
    font-size: 16px;
    font-weight: 600;
}
.profile .profile_detail .status{
    font-size: 12px;
}
.profile #log_out{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    min-height: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
}
.sidebar.active .profile #log_out{
    left: 88%;

}

/* css toggle */
.toggle{
    position: absolute;
    left: 90%;
    top: 13px;
    font-size: 20px;
    height: 24px;
    width: 48px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 0.2s ease;
}
.sidebar.active .toggle{
    opacity: 1;
}
input[type="checkbox"]{
    position: relative;
    -webkit-appearance: none;
    background: #E3E5E5;
    border-radius: 20px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}
input:checked[type="checkbox"]{
    background: #19BF5B;
    transition: 0.5s;
}
input[type="checkbox"]::before{
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background: #fff;
    transform: scale(1.1);
    transition: 0.5s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
input:checked[type="checkbox"]::before{
    left: 26px;
}
/* css toggle */

.content{
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
}
.sidebar.active ~ .content{
    width: calc(100% - 280px);
    left: 280px;

}

.content .isi_content{
    margin-top: 22px;
    margin-left: 12px;
    margin-right: 12px;
    /* width: 95%; */
    /* height: 100%; */
    background: #fff;

}
/* slideShowStart */
.isi_content  .slide_show .slide{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 380px;
    border-radius: 12px;
}
/* slideShowEnd */